*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build.gradle.kts
gradle.properties
gradlew
gradle/*
gradlew.bat
settings.gradle.kts
app/proguard-rules.pro
app/build.gradle.kts
.idea